.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border:1px solid black;
}
.input{
    background-color: #f0f0f0;
    border: 1px solid black;
    
}
.button{
    text-decoration: none;
    border-radius: 5px;
    color: black;
    border:1px solid black
}