.recipient{
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.recipient input{
    width: 100px;
}

.existing-recipient{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height:500px;
}