body{
    background:#fff;
}

.donor{
    background:#fff;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.donor .form-text {
    text-align:center;
    color: #696687;
    font-size: 12px;
    border: 0;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 40px 0 0px;
    width: 150px;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}


.donor .form-text:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
}
.existing-donor{
    background:#fff;
    display: flex;
    flex-direction: column;
    height:500px;
}
.btn {
    align-items: center;
    background: #4d61fc;
    border-radius: 6px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 40px;
    font-size: 12px;
    padding: 0px 45px;
    transition: 0.2s;
    font-weight: 600;
}

.btn:hover {
    background: #2036de;
    transform: translateX(  2px);
}